* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: white;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }
  
  .gauche {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 60px;
    z-index: 10;
  }
  
  .gauche img {
    width: 60px;
    height: auto;
    margin-right: 60px;
    margin-left: 0px; 

  }
  
  .menu {
    display: flex;
    gap: 95px;
    list-style: none;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    font-weight: 500;
  }
  
  /* soulignement */
  .menu a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
  }
  
  .menu a:hover::after {
    width: 100%;
  }
  
  .fond {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("images/photo.jpg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*  voile */
  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
  }
  
  .logo-centre {
    position: relative;
    z-index: 2;
    width: 900px;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      justify-content: space-between;
    }
  
    .gauche img {
      width: 50px;
      margin-bottom: 7px;
      margin-left: 0px; 
      margin-right: 20px;
    
    }
  
    .menu {
      flex-direction: row;
      align-items: flex-start;
      gap: 24px;
      justify-content: flex-end;
    }
  
    .menu a {
      font-size: 14px;
    }
  
    .logo-centre {
      width: 600px;
    }
  }
  
  .apropos {
    text-align: center;
    padding: 60px 20%;
    background-color: #fff;
  }
  
  .apropos h1 {
    font-size: 28px;
    margin-bottom: 25px;
  }
  
  .apropos p {
    line-height: 1.7;
    font-size: 16px;
    color: #333;
  }
  

  .image-div {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay-text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    background-color: rgb(186, 167, 153);
    color: rgb(0, 0, 0);
    padding: 40px 30px;
    font-size: 15px;
    line-height: 1.6;
  }
  
  .overlay-text p {
    margin: 0;
  }
  
