body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
  }
  
  .apropos {
    text-align: center;
    padding: 60px 20%;
    background-color: #fff;
  }
  
  .apropos h1 {
    font-size: 28px;
    margin-bottom: 25px;
  }
  
  .apropos p {
    line-height: 1.7;
    font-size: 16px;
    color: #333;
  }
  

  .image-section {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay-text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    background-color: rgb(186, 167, 153);
    color: rgb(0, 0, 0);
    padding: 40px 30px;
    font-size: 15px;
    line-height: 1.6;
  }
  
  .overlay-text p {
    margin: 0;
  }
  
