* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #d6d6d6;
  color: #111;
  line-height: 1.6;
  overflow-x: hidden;
}

.gauche {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 60px;
  z-index: 10;
}

.logo-gauche img {
  width: 60px;
  height: auto;
  margin-right: 60px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
  font-weight: 500;
}

.menu a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}


.fond {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("images/photo.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-hero {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.logo-centre {
  position: relative;
  z-index: 2;
  width: 900px;
  max-width: 80vw;
  height: auto;
}

 @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      justify-content: space-between;
    }
  
    .gauche img {
      width: 50px;
      margin-bottom: 7px;
      margin-left: 0px; 
      margin-right: 20px;
    
    }
  
    .menu {
      flex-direction: row;
      align-items: flex-start;
      gap: 24px;
      justify-content: flex-end;
    }
  
    .menu a {
      font-size: 14px;
    }
  
    .logo-centre {
      width: 600px;
    }
  }
  
